<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnp.attend.mapper.TfcardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dnp.attend.model.Tfcard">
		<id column="id" property="id" />
		<result column="tf_id" property="tfId" />
		<result column="tf_sn" property="tfSn" />
		<result column="status" property="status" />
		<result column="location_id" property="locationId" />
	</resultMap>

</mapper>
